Source: braek
Section: user/games
Priority: extra
Maintainer: Thomas Perl <thp@thpinfo.com>
Build-Depends: debhelper (>= 5), libgtk2.0-dev, libcairo2-dev
Standards-Version: 3.7.2

Package: braek
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
XB-Maemo-Display-Name: Braek
Description: Emulates a broken screen
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9kMBgERA9JsTQcAABQnSURBVGje
 bXpZkFzned053+1lVgxWYt9IgKBAEuBmkuImrhJNbWap6KiKNs1IVqLIVsp+iFJyhZEVq1KRFMcu
 KVaVpWKVXmL5wSp5jyKXZJHhIoaiuW8iQYAACBDrDIBZuvv+3zl56O7hIPF9ud1z5/7//y3nfFsD
 AObVw9N6hy7Gt57/H/jmW3+FpVdKO4rzwbPq0DYBwDZsNyXBNtJa13O5GwAkYfh3y7Q02lXZXpTf
 6rpM2Iak8bQuLcoHi/RbPdWjKY0O1tqaVlsSh+ucc4fF+bu18nPD/QEgAGCMn8cqjkKh8c/tvR+/
 /fV3Fg8vC0kdIDA+gdaKwcG5RL6+UMZcOFhcguw/tg3TQM2FdjT2G36rAY7AoIG27eMGYOqdCnE1
 gC2CVwFwgD0ABgDBGHNzJYxrE/ozyxwKAABY+IMf9zVtbaidVw+1uFTSorworc8DgF5/jZ6dhe2Q
 1JDEnjOK8iNpTS1qv6/p99Zwfr44Ny61bnFfo8O90hpLacvSvQf7v79W3jdQKs+zwOhDdwAA5tGd
 I3BTUU4SpCQOBEMjqn0wVnRVtsWuS+zxcRg2+5dbrBRkj8B4RAx0B0QEhhYBMCuocZ5/GtXQ0oN3
 Kg8+LHkPIK4B/WrPpRmMvm1tRN7yBWj9JzA/cSMmOXoG4I8BfIZBkzRJVIz+XuR/aiB+CwCCRDBM
 sh5uNId8Uvadaa0TfImgrbaX2676Z8A5mq2l5ydR958RDAL2DoOHlv5PT2WvjTcMHwd4fbF2BsMA
 0MAzfwTc8g2MRAv4u8fRYLxUnO3i/Hckvw4A4QbyTx8DSXRdfyetP4B9GuQ6AxfAXgPyHOBXSewu
 1rMVeRjAPIwEoaEFCDQBwPLgwAMBBkogONqMsCRExMBNeFMjqj8BgEPl2PS6WP0btXIzyZ8MzQj4
 o1jq+yl9uOe8/e/15CJoi7Od0h8X58vF+bXi8smictlZdcbfYyzf0HV91fCQ5/u7bq6tK4fPZtUd
 L9JHht9lNYv0S/3vWp7W+pQu7SlvXMJ8HGDiUz2Vy3HS83hMry0625ACO+5FUf5mT7kOAHouW9L5
 p8X56eK8qSjfvwR8YXlsCeC/MFDCeQLUzr1FunbJgbcV5VVLgHqJZXZcAwC6rqva+fHi3J3STUWe
 GLw7VOincUhnYBt/6D88b7NTPokTPt0uyv8y594Fqfx6Wpt9+NSQsX6/OBtDzUiaXDyo8v6isqyv
 kYfeYzvXFxXnTUsY6BMd1zsXrWddstQL5tybKMo7amcjnatSerBYuwFgsgXM13N9Qvjv+RT+vBhL
 zATLsBxpXVec/3DGvcbS57OaGynOLy4RICSNFgtpXdBR+cB7TPMQXgVwzt21tfO2weFX1y6/03U9
 5f4aVTovPM9iKjdJ2ruUUuW8rig/MCQGfEfPnKf57+r7A+TnqrQeqFVuqJX3p/QvLIckaLBYT+VO
 WXsGWgvbY7aZ1rLivPuATixi7Mi/+X2e8fyKWnlbSltSeX2tcmXt3Dxw0VW2WvJ7cSOlbyxREOVF
 Wl+e0g0prYnPxNV4we8uCvBgfAI9lzsC+O193v+9INeCOAH6TGHuiAh0vvUEPJvssDwpe8c5d9oE
 NQBYpDULQ5uxajJlvIl3sP72XW6jKRKrDa+sovrZQLiJ4rw9zJsWkFPBftyonZ8B8N2hACRNMFLa
 WjFm3uHck6IvxM99aBHAm/xfhz58xYBR7qlVPvYew+QXUlrRN2UfSCnd2VW9ZQCuEcvtvpZ814J7
 G9IeT2m8WOPz6l5QnPcWZ+OYzrF2XpPWKAB0XG+rlbek9Xtp/ctUfnvRZeXFoCp7NJ33pbWtOG/A
 df78e64q4wWfwKznRovzc2ndMliES4D2YO2y5jv+GwxMvzatr9vZTGtVSnskbS/OG4vz19Pem8rL
 a+elXZdrOurtGiipUZxXptROa7SnsmMJ3f5GsT4p60pJO/su6kX8DRjrs0V6GJVuAwA87H8CAPyd
 3hhS3u218u5FH7SGi0/Vyo8OPt9SlB+sVS5K5QMDiyyTNTXAxe3nRVSXdk9lx1f1PRRnqyj3FKtZ
 rKnafVo+tXC0lcr78tip8frcdNTOnUX5qfPpuFxUlJ/tqewapJN9wvieXozhgef7HPxAV2XDwHRL
 mECXpfRFqQ/A/uHyV7quJ9JqSVpru5nWpTOaWzm0YkojPZWLfqoDSGusWPek1SrSxWltlrSl4/qy
 4rz3vHTJZlH+TtflsgV3NxXlHw2Utbl/YD4CAFg7yC8AYBQNwfpBBd6X8kT0Qz0lIRgvAfjfJjcO
 zdsE/7Zy7IGxVYRgqGK8PIb25QOwGkAzwPW3xrZ+GgOvlrWTwB0w4jkeONJwXEvwUFq7Ja0ZytCI
 6o8r8NqWm99O5MNZ13sArx66xSAM92/zgzQYAGa80C72f+7UndUTA+t8Rn81DER7Oq7XA4B6ZTKd
 e+bVG+3n6xoZ+Pot+3UiBi61pyg/NNDeitrlzvv1FRTnrz7l/VVRfqFI/3bwfKS4XFGUHzvk6Tij
 7nhK/63j3sri/Hbt/EjXHS71T6Q10VO5saveWtv0exXZp4r1H4t1kX9geHYBzmTtUhXnVVKOy7ro
 tDuNslhPeExSqyh31Sp3pTSW1u1FZcBwWpPW9ZLel9LFA9z9uq1Vslq2kdKyWmV7Sv+qSP/YcX1p
 rfLx2mVLka5PaWQxN2+xAcuzJl8lGrcLLpm9JwqrrQB/1kO+2QQf0MextorRJwA4letq6FiDcXEA
 h1dypEh5Kq3325oj2CHYIjBWRcyn1TMwP0ijl9t4y+BVVfCHXdfjAZwi45SkTYZXGDgOcDmAiw3/
 SWWOB+ORijGT0nZBUzFM3vpYQDRYnY5e/X3bj0U0PkjyQ1XwlVE2emVh/mHRh3vOmzsua0EujETz
 HZqvCb6w74W8yvAtNfUmgLlZdl5KejqdlxF4TfDcgI4V4DTgY31AVJsETA/qhsMA3jC9hcB186i/
 YWAaIGzO2MYhzj4K8ragwU9yF+bdCxojsoFWy42oTtJ+1Pajkj6Z1rL26ASbrA7SmGkgbgJwdrBh
 l2YU50Og/pbmN5quLifZHUeLAZ4WsAPwLNivwBIO07sBnE3nGAw1HE+ntEvEpMhCY8TA/jE239eK
 6seATwW8GQC2etJhnmJKt4g61EXWE2wfXszjCTjLWtZ54rmRGe3G6vdVZpPgcRKjAE7ZuNxADfgs
 yRECPQDHAEzbuLYwn2+42mN4BuCFgJ9PerIBHq/hbW1UrydUaL5vUNMcDMbpYm0AfLmNI4CPNKNx
 yvYYyfmi3ElwtaBDBKfDxD/BcAvV3uK8bcG9cQb7hVBUHbdbvgJr8VV/7dWznHsdwBrBW4NxtsBP
 mV6X9KaK8RzBV2xfFwyROFghfhnA64U6ImqmEdWRhqNLcC7MYrvVYNUzEQE8D6PIWg97XYH2Ezja
 QHVKFkjOF2t7QmM1ysnCVIDtKM4FAa2DPv7DZ/3uIy1Xa4rzFkFbTVQESBIP4YtYyWXdAN81uK9Y
 n2uSq5qs/joc00X5ay/gYFVF9fdp3SOjTbNLolQmw9SgZJwjWFfguOnVKS0LY5wRjoizAC4DsK3p
 6kQjqpOmKxjjaV1rqxeMDR3kuXC1qoc8y7RGZO9cYHlxEq3F2rRW2Uly1PZCxRgrwMEWY9oyGX2G
 TeU9IEcJdAQnjALg5wS7AK6rIn6a0t1B/qPhLTDeTaiqWDVgjxh+P4hmxerP+sDOu2iOA3wkgtOS
 thjYAqIb4Ns91x0wrgqjAtmm8XbQXgX49Bs+ubSQQQPV4a/6Ky/8iE+/JXtDGHel9K97LFsWQzy5
 5Qzm/6fgUQLLBD9K4iYSG0i/ms61II4l9IFgvCF6vYAVsm8FcBXIpwi+NYgLN7tv7b9MeE7Sf0j6
 w6YPwngXxokT/MVZAoXk3YZOiGozpesBvBTkPEktyUwbAAqDkPShiPhfg2h6h4mtCf0kwHuLyzdH
 ol0kNQ18lsBfmN5s4EyAE4L3AniLxjTADUG+YhsgJmzMkV5t8zYCj4HoCp4gcGmxX6jASZIvADht
 +GKCWwP8yTkvcAStS4K8lrXzChhzBM6YiDBHCYyYWKgYBwba2VVFvP7/FOhXENgN8GQAJ2UcJtEk
 sNlwV8bFJN6iOULgXQCzJhphTIOcErzXxrMklhGYNHAWxnYQ1xH+Jh3nRP+u4ccJLIf5eBVxZklt
 crvJ+WGjli/57apixAosizGPNMbYuJTgnTAOEGwCODrP8rNJts4MhJoQ3QlzA4ETJnbT3mbgcQAj
 Iq4Ok0kfB3yicowkdI7kaBiThe5V5kYARw2YQBXkyzY+BGIcwEtdlyNNxG4Tx1psvHRQM631mNgc
 jIthXGe6Jv6Za9DPCdE3w3yiCtaz6kyMsnk1wfWyzxLoGSgEDhDMhE+SuCbAno0JwzPHee6NNZi8
 HYAL9AsbvQAbFTEViO1pHyCxYeBSxwJcUSGeSHuK9AoAywCugbEZ/Q4eYcyCfq3CQ08Wf+Vj/JK+
 hC/Hl88/fJ87IeXWeZZj42h1yT7z2N5C8mC/b1N2VeYukmdhnDF9OYCnAdaElwnY1nX9bAuNjQkf
 D3DK9FzTVVuwAthhYkr20SBbMCZI7IcxJ7qgHzjHQO8J8AfBOHZe29957T9rgSXl47rv+mfHPx03
 LIL7Gb8SV3O3hg0mQ3tBzgM4KXt9gOcMfBDADwpzeTi2BzhaoJcArK/AvQQ3JfQIybbtt0BsIfw8
 HRuDfB1Al0BNhmxT8IUB7jMMgoABBtFTWcOe87MEKgJvEDSAqbSmK8YaGhtBnLXZA9Ht87xXkpgx
 cAR22+AC4DmCBUSX4AKg7cHqsVrlehOnDZxtuerUyNUBbjTRMZANR03glIHthH9hcgpwLXgURvTT
 LM8JbDfIacNnC1wAu+eSExhp/H8WKMpNNUp3NNonZINAg2RZ0npcBaITjLlBn2ZVME7aDhgNAKOC
 rwF9JO0WwXEArQp8g2RVnAKIAIP9VLkLogVghgZFjRk8VaCogHEYKwGuCuIIDJc+1thvbMVCbN4P
 /uaRe9jJPiM1ojrcRHMTAPBrT8DdoqUpN4hZSBP9WpoBYMJyGB5P6mLRa5J+NqHTAb4V4HQFHkl4
 okbOmj4XDAbQBLHPdAv2QQBtA8dpHg5zooWq1UC8WzHeDOJgII4F43iLVTYVvTmWo2/gzTNcCl7D
 iAh0XaZoLG9F423ZQL+xBBgQ3ABxgeCTsqpg3AD7XIU4FhFvW44F9tY0XW0neSAczUT2CtWQ1W2g
 0WwyGgQ6BtbCOGyiRQOgtwIxbehIOOYFXQjwegLPiD5AA1VU3bRaMNYHeKZx3ijHQNqoyDNd1Rek
 PEKgw0Gf/h2fiXWe3GJ4CsBOAgcMHwCxPBhvp7VTsFtobDOxhmDP9DGCIzZbFaspAHMwYLADuCI5
 B3u1idVEnJJ1jOBWw22TkwR+DuMowQsBuFhjBI6BOEqyF0sGdU2S4I9+BAA4x947BbmeJBZcr0zl
 PWsxcd086tN/6ReeI7i6Fc23W2zsa5hbU7o/7bC918AqGGdlVwZ2CB5pMS4Iswu4A2INgXZ/nKRf
 NTFp67UuymGCv0b6FOBXCOyncWuhpirGq1XEa4RXADgmaLR22UxJfWoiltmYT6JUQHvenXabrV8J
 cJXt1/4PXv7hDbHHxWVURjvIO2FWyXymQvXLtL8P8BoQZ2xXHdYvtNC4lcAMEdtg7CMxS/BNGguC
 NhAxa/ijVcTDRflLID7SYPWl7DeMp2EU0RsJXECgYXM/gEMVOTOc6ixiYEbzzUmM3mxoOqlSORzk
 WRlJoAV4LKkGzQmQKs5jTVb3w3g0iFmDY7AbIOfDfLpAWwvUqsgrAexrOEYEi+DhKuLtVF4a5r6k
 byOBE579hxUc391w7Ksi5orzPpo3A/5yFdUpSWOCrxZcAnytEdU0AMSCe6tTuncC7bsMzYgIgzMG
 TgPsEDht+ijI/Y0u3qpYvU7gwgZjT219m+SFNo8SGAFxtmI8ZfgKQ0ebiIvn0fsbGmOi1xJ83v1y
 FCSNYATxnMGtKzC67K/x0xcBX1ErryBYmf49E1MLrldFxDyIx85w9lkAq4ry6p7LNSjSXQuul0lq
 Wa4krZe0/L1Bd7873FVhWlOp/PdFed28uquLdG/PZZukVjo3SnmBpEvlXJPSZSntkPWBEz7bTOeH
 UxpNa9sgDdglebllpvKjRfmArBW11CzWjemMYT9W1nZJ29UfZU3Kxozm20V59fk02lcKUtpr+mCD
 fTOlPGLqKtmuWD0NezOAVhXxuqwrYRyNiHdTuRPkdhovG9gI4AiBENwjcTPBxw20KsYBSdsFzInu
 NsC0cU0X5emxaM3JbsEYAzxjGhUrSJowsY3G/oiYW9o4XZymD+/TTki6ddA+vFHS51NaNkijry7O
 ySV9+03q/66hLXmqVtlYpJvT2iBrAwB0Vdal8qL+7yY8aWvYuVv+ol4eDrona+Wm9xQq2t40yP3b
 svacVic6qtfaXgYASp0nBCVxWFLOqbOsKG8ajoAsVbJ2LG239+9eKaltaZntcdvsud5ru2mb5zTP
 justaY3LCrs/aRzs17L7A5GeCmVtr50j6VwpazSVlaQtlrcuHdvKatuakt0ISf0oSzgi3EEdCV/U
 RGNj0ocKdELyMgOTwXhTfc0gOAwhaAAcAamesxa0t+nGL3qoGyQ9jpGqQqxLq0eQtilpFMBI/12E
 5VbFWF07zwHY9qLfngnGAsFxEGOi+lZif04cjC7MOdib6WGa0E/k1oO8vkY+TuDECJsuyj1JH2+h
 eneQzXoQ+AygErSajBl0S5XtWAdjoUK8a3p9gGtq6GjlWA5iXxgiOW67N+iFN0kKRp5DVxNsjcKY
 SKJqgEcHGWmKnoC9vYrqxaVZg+nq/wLh83qEfk1AzwAAAABJRU5ErkJggg==

